.bg-hero {
  background-image: url(/img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
}

.bg_color {
  background: #00000085;
}
.bg_gradient {
  background: linear-gradient(
    125deg,
    rgba(16, 17, 21, 1) 0%,
    rgba(54, 35, 69, 1) 57%,
    rgba(86, 33, 37, 1) 100%
  );
}

.vandongvien {
  position: relative;
}

.anhvandongvien {
  position: absolute;
  top: 50px;
  right: 15px;
}
.nen_den {
  background-color: #000;
}

.box_shadow {
  box-shadow: 0px 0px 9px 12px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.bg_footer {
  /* background-color: black; */
  background: url(/img/bg_footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
